<fieldset >
    <legend >Importes para planillas de Ventas</legend> 
    <div class="container-fluid" align="center">
        <div class="row">
             
            <div class="table-responsive">
                <div class="col-10">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                            <tr class="d-flex ">
                                <th class="col-sm-3"><label></label></th>
                                <th class="col-sm-3"><label></label></th>
                                <th class="col-sm-3"><label>BOB</label></th>
                                <th class="col-sm-3"><label>USD</label></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="d-flex" >
                                <td class="col-sm-3"><label class="text-right">Importe Neto</label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImporteNetoBs()"
                                           ng-model="boleto.importeNetoBs"
                                           ng-value="boleto.importeNetoBs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImporteNetoUsd()"
                                           ng-model="boleto.importeNetoUsd"
                                           ng-value="boleto.importeNetoUsd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            <tr class="d-flex" ng-show="aerolinea.impuestoValorNeto">
                                <td class="col-sm-3"><label class="text-right">Impuesto BO</label></td><td class="col-sm-3">
                                </td>
                                <td class="col-sm-3"> <input type="number" class="form-control input-number" name="txtImpuestoBobBs" placeholder="0.00 " 
                                                             ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImpuestoBobBs()"
                                                             ng-model="boleto.impuestoBobBs"
                                                             ng-value="boleto.impuestoBobBs|printNumber"
                                                             data-toggle="tooltip" data-placement="top"  ng-disabled="true"/></td>
                                <td class="col-sm-3"> <input type="number" class="form-control input-number" name="txtImpuestoBobUsd" placeholder="0.00 " 
                                                             ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImpuestoBobUsd()"
                                                             ng-model="boleto.impuestoBobUsd"
                                                             ng-value="boleto.impuestoBobUsd|printNumber"
                                                             data-toggle="tooltip" data-placement="top" ng-disabled="true"  /></td>
                            </tr>
                            <tr class="d-flex" ng-show="aerolinea.impuestoQm">
                                <td class="col-sm-3"><label class="text-right">Impuestos QM</label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuestoQmBs" placeholder="0.00" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImpuestoQmBs()"
                                           ng-model="boleto.impuestoQmBs"
                                           ng-value="boleto.impuestoQmBs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true"  /></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuestoQmUsd" placeholder="0.00" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"  ng-change="calculateImpuestoQmUsd()"
                                           ng-model="boleto.impuestoQmUsd"
                                           ng-value="boleto.impuestoQmUsd|printNumber"
                                           data-toggle="tooltip" data-placement="top"  ng-disabled="true"/>
                                </td>
                            </tr>
                            <tr  class="d-flex" ng-show="boleto.impuesto1nombre"  >
                                <td  class="col-sm-3"><label class="text-right">{{boleto.impuesto1nombre}} </label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto1" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto1Bs"
                                           ng-value="boleto.impuesto1Bs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuestoQm" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto1Usd"
                                           ng-value="boleto.impuesto1Usd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            
                            <tr  class="d-flex" ng-show="boleto.impuesto2nombre"  >
                                <td  class="col-sm-3"><label class="text-right">{{boleto.impuesto2nombre}} </label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto2" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto2Bs"
                                           ng-value="boleto.impuesto2Bs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto2" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto2Usd"
                                           ng-value="boleto.impuesto2Usd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            
                            
                            <tr  class="d-flex" ng-show="boleto.impuesto3nombre"  >
                                <td  class="col-sm-3"><label class="text-right">{{boleto.impuesto3nombre}} </label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto3" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto3Bs"
                                           ng-value="boleto.impuesto3Bs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto3" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto3Usd"
                                           ng-value="boleto.impuesto3Usd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            
                            
                            <tr  class="d-flex" ng-show="boleto.impuesto4nombre"  >
                                <td  class="col-sm-3"><label class="text-right">{{boleto.impuesto4nombre}} </label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto4" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto4Bs"
                                           ng-value="boleto.impuesto4Bs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto4" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto4Usd"
                                           ng-value="boleto.impuesto4Usd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            
                            <tr  class="d-flex" ng-show="boleto.impuesto5nombre"  >
                                <td  class="col-sm-3"><label class="text-right">{{boleto.impuesto5nombre}} </label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto5" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto5Bs"
                                           ng-value="boleto.impuesto5Bs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto5" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.impuesto5Usd"
                                           ng-value="boleto.impuesto5Usd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table  class="table table-sm table-hover table-danger" >
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-sm-3"><strong class="table-danger">TOTAL BOLETO</strong></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3" align="right"><div><strong>{{boleto.totalBoletoBs|printNumber}}</strong></div></td>
                                <td class="col-sm-3" align="right"><div ><strong>{{boleto.totalBoletoUsd|printNumber}}</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table class="table table-sm table-hover">
                        <tbody >
                            <tr class="d-flex" >
                                <td class="col-sm-3"><label class="text-right">Comision %</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtComision" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99"
                                           ng-model="boleto.comision"
                                           ng-value="boleto.comision|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-change="calculateComision()"  ng-disabled="true" /></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtComisionBs" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" align="right"
                                           ng-model="boleto.montoComisionBs"  
                                           ng-value="boleto.montoComisionBs|printNumber"  
                                           ng-change="calculateComisionBs()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />

                                </td>
                                <td class="col-sm-3"><input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 USD" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" align="right"
                                                            ng-model="boleto.montoComisionUsd" 
                                                            ng-value="boleto.montoComisionUsd|printNumber" 
                                                            ng-change="calculateComisionUsd()"
                                                            data-toggle="tooltip" data-placement="top" ng-disabled="true" /></td>
                            </tr>

                            <tr class="d-flex table-warning"  >
                                <td class="col-sm-6"><strong>TOTAL A PAGAR A LA LINEA AEREA</strong></td>

                                <td class="col-sm-3" align="right">
                                    <strong>{{boleto.montoPagarLineaAereaBs|printNumber }}</strong>
                                </td>
                                <td class="col-sm-3" align="right">
                                    <strong>{{boleto.montoPagarLineaAereaUsd|printNumber}}</strong>
                                </td>
                            </tr>

                            <tr class="d-flex">
                                <td class="col-sm-12"><label class="text-right">
                                        <strong>Movimiento Interno (Solo cuenta por Cobrar)</strong>
                                    </label>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-sm-3"><label class="text-right">FEE(Otros Comisionables) %</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtMontoFee" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="boleto.fee" 
                                           ng-value="boleto.fee|printNumber" 
                                           ng-change="calculateFeeMonto()" align="right"
                                           data-toggle="tooltip" data-placement="top"  ng-disabled="true" />
                                </td>
                                <td class="col-sm-3"><input type="number" class="form-control input-number" name="txtMontoFeeBs" placeholder="0.00 BOB" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" align="right"
                                                            ng-model="boleto.montoFeeBs" 
                                                            ng-value="boleto.montoFeeBs|printNumber" 
                                                            ng-change="calculateFeeMontoBs()"
                                                            data-toggle="tooltip" data-placement="top"  ng-disabled="true"/></td>

                                <td class="col-sm-3"><input type="number" class="form-control input-number" name="txtMontoFeeUsd" placeholder="0.00 USD" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" 
                                                            ng-model="boleto.montoFeeUsd"
                                                            ng-value="boleto.montoFeeUsd|printNumber"
                                                            ng-change="calculateFeeMontoUsd()"
                                                            data-toggle="tooltip" data-placement="top" ng-disabled="true"/></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-sm-3"><label class="text-right">Descuento %</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMonto" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" align="right"
                                           ng-model="boleto.descuento"
                                           ng-value="boleto.descuento|printNumber"
                                           ng-change="calculateDescuentoMonto()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true"  />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMontoBs" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" align="right"
                                           ng-model="boleto.montoDescuentoBs"
                                           ng-value="boleto.montoDescuentoBs|printNumber"
                                           ng-change="calculateDescuentoMontoBs()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMontoUsd" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  align="right"
                                           ng-model="boleto.montoDescuentoUsd" 
                                           ng-value="boleto.montoDescuentoUsd|printNumber" 
                                           ng-change="calculateDescuentoMontoUsd()" 
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table  class="table table-sm table-hover table-success" >
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-sm-3"><strong >TOTAL A CANCELAR</strong></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3" align="right"><div><strong>{{boleto.totalMontoCobrarBs|printNumber}}</strong></div></td>
                                <td class="col-sm-3" align="right"><div ><strong>{{boleto.totalMontoCobrarUsd|printNumber}}</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>