<fieldset   >
    <legend>Importes para planillas de Ventas</legend>  
    <div class="container-fluid" align="center">
        <div class="row">
            <div class="table-responsive">
                <div class="col-10">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                            <tr class="d-flex ">
                                <th class="col-sm-3"><label></label></th>
                                <th class="col-sm-3"><label></label></th>
                                <th class="col-sm-3"><label>BOB</label></th>
                                <th class="col-sm-3"><label>USD</label></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="d-flex" >
                                <td class="col-sm-3"><label class="text-right">Importe Neto</label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">

                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-blur="calculateImporteNetoBs()"
                                           ng-model="boleto.importeNetoBs"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'U'"  />
                                </td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-blur="calculateImporteNetoUsd()"
                                           ng-model="boleto.importeNetoUsd"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'B'" />
                                </td>
                            </tr>
                            <tr class="d-flex" ng-show="aerolinea.impuestoValorNeto">
                                <td class="col-sm-3"><label class="text-right">Impuesto BO</label></td>
                                <td class="col-sm-3">
                                </td>
                                <td class="col-sm-3"> 
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImpuestoBobBs" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                                           step="0.01" min="0" ng-blur="calculateImpuestoBobBs()" 
                                           ng-model="boleto.impuestoBobBs" data-toggle="tooltip" 
                                           data-placement="top"  ng-disabled="boleto.moneda === 'U'"/></td>
                                <td class="col-sm-3"> 
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImpuestoBobUsd" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-blur="calculateImpuestoBobUsd()"
                                           ng-model="boleto.impuestoBobUsd" 
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'B'"  /></td>
                            </tr>
                            <tr class="d-flex" ng-show="aerolinea.impuestoQm">
                                <td class="col-sm-3"><label class="text-right">Impuestos QM</label></td>
                                <td class="col-sm-3">
                                </td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImpuestoQmBs" placeholder="0.00" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-blur="calculateImpuestoQmBs()"
                                           ng-model="boleto.impuestoQmBs" 
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'U'"  /></td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImpuestoQmUsd" placeholder="0.00" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"  ng-blur="calculateImpuestoQmUsd()"
                                           ng-model="boleto.impuestoQmUsd" 
                                           data-toggle="tooltip" data-placement="top"  ng-disabled="boleto.moneda === 'B'"/>
                                </td>
                            </tr>
                        <tr  class="d-flex"  st-select-mode="multiple" ng-repeat="row in aerolineaImpuestos" >
                                <td  class="col-sm-3"><label class="text-right">{{row.nombre}} </label></td>
                                <td class="col-sm-3">
                                </td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImpuesto" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"  
                                           ng-model="row.valorImpuestoBs"   ng-blur="calculateListaImpuestosBs()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'U'" />
                                </td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImpuestoQm" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"  
                                           ng-model="row.valorImpuestoUsd"  ng-blur="calculateListaImpuestosUsd()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'B'" />
                                </td>
                            </tr>
                            
                            <!-- Si el Boleto esta PENDIENTE -->
                            <!--
                            -->
                            <!-- / Si el Boleto esta Pendiente --> 
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table  class="table table-sm table-hover table-danger" >
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-sm-3"><strong class="table-danger">TOTAL BOLETO</strong></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3" align="right"><div><strong>{{boleto.totalBoletoBs|printNumber}}</strong></div></td>
                                <td class="col-sm-3" align="right"><div ><strong>{{boleto.totalBoletoUsd|printNumber}}</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table class="table table-sm table-hover">
                        <tbody >
                            <tr class="d-flex" >
                                <td class="col-sm-3"><label class="text-right">Comision %</label></td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtComision" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" ng-model="boleto.comision" 
                                           data-toggle="tooltip" data-placement="top" ng-blur="calculateComision()"  /></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtComisionBs" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"  ng-model="boleto.montoComisionBs"  
                                           ng-blur="calculateComisionBs()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'U'"  />

                                </td>
                                <td class="col-sm-3">
                                    <!-- Permite Decimales -->
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-model="boleto.montoComisionUsd" 
                                           ng-blur="calculateComisionUsd()" data-toggle="tooltip" data-placement="top" 
                                           ng-disabled="boleto.moneda === 'B'" /></td>
                            </tr>

                            <tr class="d-flex table-warning"  >
                                <td class="col-sm-6"><strong>TOTAL A PAGAR A LA LINEA AEREA</strong></td>

                                <td class="col-sm-3" align="right">
                                    <strong>{{boleto.montoPagarLineaAereaBs|printNumber }}</strong>
                                </td>
                                <td class="col-sm-3" align="right">
                                    <strong>{{boleto.montoPagarLineaAereaUsd|printNumber}}</strong>
                                </td>
                            </tr>

                            <tr class="d-flex">
                                <td class="col-sm-12"><label class="text-right">
                                        <strong>Movimiento Interno (Solo cuenta por Cobrar)</strong>
                                    </label>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-sm-3"><label class="text-right">FEE (Otros Comisionables) %</label></td>
                                <td class="col-sm-3" >
                                    <input type="number" class="form-control input-number" name="txtMontoFee" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" 
                                           ng-model="boleto.fee" ng-blur="calculateFeeMonto()"
                                           data-toggle="tooltip" data-placement="top"  />
                                </td>
                                <td class="col-sm-3"><input type="number" class="form-control input-number" name="txtMontoFeeBs" 
                                                            placeholder="0.00 BOB" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" 
                                                            ng-model="boleto.montoFeeBs" ng-blur="calculateFeeMontoBs()"
                                                            data-toggle="tooltip" data-placement="top"  
                                                            ng-disabled="boleto.moneda === 'U'"/></td>

                                <td class="col-sm-3"><input type="number" class="form-control input-number" name="txtMontoFeeUsd" placeholder="0.00 USD" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" 
                                                            ng-model="boleto.montoFeeUsd" ng-blur="calculateFeeMontoUsd()"
                                                            data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'B'"/></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-sm-3"><label class="text-right">Descuento %</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMonto" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" 
                                           ng-model="boleto.descuento" ng-blur="calculateDescuentoMonto()"
                                           data-toggle="tooltip" data-placement="top"  />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMontoBs" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" 
                                           ng-model="boleto.montoDescuentoBs" ng-blur="calculateDescuentoMontoBs()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'U'" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMontoUsd" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  
                                           ng-model="boleto.montoDescuentoUsd" ng-blur="calculateDescuentoMontoUsd()" 
                                           data-toggle="tooltip" data-placement="top" ng-disabled="boleto.moneda === 'B'" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table  class="table table-sm table-hover table-success" >
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-sm-3"><strong >TOTAL A CANCELAR</strong></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3" align="right"><div><strong>{{boleto.totalMontoCobrarBs|printNumber}}</strong></div></td>
                                <td class="col-sm-3" align="right"><div ><strong>{{boleto.totalMontoCobrarUsd|printNumber}}</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>