.ng-hide.ng-hide-animate {
    display: none !important;
}

.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}


.dropdown-menu
{
    margin-top: 0px;
    width: 100%;
    border-top:  0px;
}

.value-inactivo {
    color : red ;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

list-on-top {
    z-index: 2 ;
}


.boleto-estado-A {
    background-color:#f5c6cb;
}


.boleto-estado-P {
    background-color:#ffeeba;
}


.boleto-estado-M {
    background-color:#b8daff;
}


.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  }
  
.tip {
	display: inline-block;
	cursor: pointer;
}

.bg-selected {
        background-color:#d6d6db;   
}

.bg-cancelado {
        background-color:#ccffcc;   
}

.bg-adeudado {
        background-color:#ffbb99;   
}

.input-number{
    text-align: right
}

.nospacecell {
  white-space: normal !important; 
}
.fixedtable {
  table-layout: fixed;
}

.deposito {
    background-color: #b8daff;
}

.debito {
    background-color: #b8d9c7;
}