<fieldset  class="ng-hide" ng-show="formData.idAerolinea.id">
    <div class="container-fluid" align="center">
        <div class="row">
            <legend align="left">Importes para planillas de Ventas(editar)</legend>  
            <div class="table-responsive">
                <div class="col-10">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                            <tr class="d-flex ">
                                <th class="col-sm-3"><label></label></th>
                                <th class="col-sm-3"><label></label></th>
                                <th class="col-sm-3"><label>BOB</label></th>
                                <th class="col-sm-3"><label>USD</label></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="d-flex" >
                                <td class="col-sm-3"><label class="text-right">Importe Neto</label></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImporteNetoBs()"
                                           ng-model="formData.importeNetoBs" align="right" ng-value="formData.importeNetoBs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImporteNetoUsd()"
                                           ng-model="formData.importeNetoUsd" ng-value="formData.importeNetoUsd|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                            <tr class="d-flex" ng-show="aerolinea.impuestoValorNeto">
                                <td class="col-sm-3"><label class="text-right">Impuesto BO</label></td>
                                <td class="col-sm-3">
                                </td>
                                <td class="col-sm-3"> <input type="number" class="form-control input-number" name="txtImpuestoBobBs" placeholder="0.00 " 
                                                             ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImpuestoBobBs()"
                                                             ng-model="formData.impuestoBobBs"  ng-value="formData.impuestoBobBs|printNumber"  
                                                             data-toggle="tooltip" data-placement="top"  ng-disabled="true"/></td>
                                <td class="col-sm-3"> <input type="number" class="form-control input-number" name="txtImpuestoBobUsd" placeholder="0.00 " 
                                                             ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImpuestoBobUsd()"
                                                             ng-model="formData.impuestoBobUsd" ng-value="formData.impuestoBobUsd|printNumber"
                                                             data-toggle="tooltip" data-placement="top" ng-disabled="true"  /></td>
                            </tr>
                            <tr class="d-flex" ng-show="aerolinea.impuestoQm">
                                <td class="col-sm-3"><label class="text-right">Impuestos QM</label></td>
                                <td class="col-sm-3">
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuestoQmBs" placeholder="0.00" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" ng-change="calculateImpuestoQmBs()"
                                           ng-model="formData.impuestoQmBs" ng-value="formData.impuestoQmBs|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true"  /></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuestoQmUsd" placeholder="0.00" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"  ng-change="calculateImpuestoQmUsd()"
                                           ng-model="formData.impuestoQmUsd" ng-value="formData.impuestoQmUsd|printNumber"
                                           data-toggle="tooltip" data-placement="top"  ng-disabled="true"/>
                                </td>
                            </tr>
                            <tr  class="d-flex"  st-select-mode="multiple" ng-repeat="row in aerolineaImpuestos">
                                <td  class="col-sm-3"><label class="text-right">{{row.nombre}} </label></td>
                                <td class="col-sm-3">
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuesto" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="row.valorImpuestoBs"  ng-value="row.valorImpuestoBs|printNumber"
                                           ng-change="calculateListaImpuestosBs()"data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImpuestoQm" placeholder="0.00 " 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="row.valorImpuestoUsd" ng-value="row.valorImpuestoUsd|printNumber"
                                           ng-change="calculateListaImpuestosUsd()" data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table  class="table table-sm table-hover table-danger" >
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-sm-3"><strong class="table-danger">TOTAL BOLETO</strong></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3" align="right"><div><strong>{{formData.totalBoletoBs|printNumber}}</strong></div></td>
                                <td class="col-sm-3" align="right"><div ><strong>{{formData.totalBoletoUsd|printNumber}}</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table class="table table-sm table-hover">
                        <tbody >
                            <tr class="d-flex" >
                                <td class="col-sm-3"><label class="text-right">Comision %</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtComision" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" ng-disabled="true"
                                           ng-model="formData.comision" ng-value="formData.comision|printNumber"
                                           data-toggle="tooltip" data-placement="top" ng-change="calculateComision()" /></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtComisionBs" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" 
                                           ng-model="formData.montoComisionBs" ng-value="formData.montoComisionBs|printNumber"
                                           ng-change="calculateComisionBs()" data-toggle="tooltip" data-placement="top" ng-disabled="true" />

                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtImporteNeto" placeholder="0.00 USD" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"
                                                            ng-model="formData.montoComisionUsd" ng-value="formData.montoComisionUsd|printNumber" 
                                                            ng-change="calculateComisionUsd()" ng-disabled="true"
                                                            data-toggle="tooltip" data-placement="top"/></td>
                            </tr>

                            <tr class="d-flex table-warning"  >
                                <td class="col-sm-6"><strong>TOTAL A PAGAR A LA LINEA AEREA</strong></td>

                                <td class="col-sm-3" align="right">
                                    <strong>{{formData.montoPagarLineaAereaBs!= null ? (formData.montoPagarLineaAereaBs|printNumber) : '' }}</strong>
                                </td>
                                <td class="col-sm-3" align="right">
                                    <strong >{{formData.montoPagarLineaAereaUsd != null ? (formData.montoPagarLineaAereaUsd|printNumber) : ''}}</strong>
                                </td>
                            </tr>

                            <tr class="d-flex">
                                <td class="col-sm-12"><label class="text-right">
                                        <strong>Movimiento Interno (Solo cuenta por Cobrar)</strong>
                                    </label>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-sm-3"><label class="text-left">FEE ( Otros Comisionables %)</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtMontoFee" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="99" 
                                           ng-model="formData.fee" ng-value="formData.fee|printNumber" ng-change="calculateFeeMonto()"
                                           data-toggle="tooltip" data-placement="top"  ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtMontoFeeBs" placeholder="0.00 BOB" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"
                                                            ng-model="formData.montoFeeBs" ng-value="formData.montoFeeBs|printNumber" 
                                                            ng-change="calculateFeeMontoBs()"
                                                            data-toggle="tooltip" data-placement="top"  ng-disabled="true"/></td>

                                <td class="col-sm-3"><input type="number" class="form-control input-number" name="txtMontoFeeUsd" placeholder="0.00 USD" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0"
                                                            ng-model="formData.montoFeeUsd" ng-value="formData.montoFeeUsd|printNumber"
                                                            ng-change="calculateFeeMontoUsd()"
                                                            data-toggle="tooltip" data-placement="top" ng-disabled="true"/></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-sm-3"><label class="text-right">Descuento %</label></td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMonto" placeholder="0.00 %" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                           ng-model="formData.descuento"
                                           ng-value="formData.descuento|printNumber"
                                           ng-change="calculateDescuentoMonto()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true"  />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMontoBs" placeholder="0.00 BOB" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                           ng-model="formData.montoDescuentoBs"
                                           ng-value="formData.montoDescuentoBs|printNumber"
                                           ng-change="calculateDescuentoMontoBs()"
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="number" class="form-control input-number" name="txtDescuentoMontoUsd" placeholder="0.00 USD" 
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                           ng-model="formData.montoDescuentoUsd"
                                           ng-value="formData.montoDescuentoUsd|printNumber"
                                           ng-change="calculateDescuentoMontoUsd()" 
                                           data-toggle="tooltip" data-placement="top" ng-disabled="true" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10">
                    <table  class="table table-sm table-hover table-success" >
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-sm-3"><strong >TOTAL A CANCELAR</strong></td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-3" align="right"><div><strong>{{formData.totalMontoCobrarBs|printNumber}}</strong></div></td>
                                <td class="col-sm-3" align="right"><div ><strong>{{formData.totalMontoCobrarUsd|printNumber}}</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>